{
    "env": {
        "node": true,
        "jest": true
    },
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "no-console": "off",
        "class-methods-use-this": "off",
        "no-plusplus": "off"
    }
}
