<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/favicon.ico"/>
</head>
<body>
<div class="container">
    <header class="container__header">
        <h1>404 page</h1>
    </header>

    <main class="container__content">
        <div class="container-block">
            <a href="/">Return to main page</a>
        </div>
    </main>
</div>
</body>
</html>
